@model AplicacionGestionEMS.Models.Evaluaciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evaluaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.evalContinua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.evalContinua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota_P1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota_P1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota_P2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota_P2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota_P3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota_P3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota_P4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota_P4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota_Practica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota_Practica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EvaluacionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
